$navBack: #FBEDDA;
$btnColor: #13A6BA;
$vrWhite: #FFFFFF;
$vrBlack: #021112;
$lightgray: #677071;
$lightgray1: #CCCFD0;
$bordercolor: #E0E2E3;
$bordercolor1: #CFCCCC;
$purple: #772D8B;
$green: #B3C41D;
$lightgreen: #FBFCED;
$blue: #13A6BA;
$inputborder: #C8F3F9;
$redLine: #F93633;
$lightblue: #C8F3F9;